/.bundle
/.amp
/.kamal/secrets
/.kamal/secrets-common
/.kamal/secrets.*
/config/master.key
/config/credentials/*.key
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/
/tmp/pids/*
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/public/assets
/.env*
!/.env.example
